<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630929507531-saroiap4v6j6i695kh0hcldleth8vfq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630929507531-saroiap4v6j6i695kh0hcldleth8vfq5</string>
	<key>API_KEY</key>
	<string>AIzaSyAYc1TfEItmmRv58g7Q8p70HVvhWjmhjpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>630929507531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.UpSalud</string>
	<key>PROJECT_ID</key>
	<string>upsalud-4ea11</string>
	<key>STORAGE_BUCKET</key>
	<string>upsalud-4ea11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630929507531:ios:d181ef71a21b300e5b074e</string>
</dict>
</plist>